
#root-app{
    
    .container-feedback{
        display: flex;
        flex-direction: column;
    }

    .list-filtros{
        display: flex;
        justify-content: space-between;
    }

    .elimiar{
        border: 0px solid white;
        background-color: white;
        color: rgb(237, 51, 51);
    
        &:hover{
            transform: scale(1.5);
        }
    }

}